.principal__banner-botao{
  background-color: var(--cor-destaque);
  color: #e9d9d9;
  border: none;
  cursor: pointer;
  height: 3.1rem;
  transition: all 350ms ease-in-out ;
  width: 11.3rem;
}

.principal__banner-botao:hover{
  background-color: transparent;
  border: 1px solid var(--cor-destaque);
}