@import url(galeria-secao.css);
@import url(galeria-opcao--produto.css);
@import url(galeria-opcao--item.css);
@import url(galeria-opcao.css);
@import url(galeria-secao--mais.css);
@import url(galeria-secao--titulo.css); 
@import url(galeria-opcao--mais.css); 
@import url(galeria-opcao--preco.css); 
@import url(galeria-opcao--titulo.css); 


.galeria {
  display: flex;
  flex-direction: column;
  width: 85vw;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem ;
}