.rodape__contato{
  display: flex;
  flex-direction: column;
  width: 40rem;
  justify-content: flex-start;
  margin-left: 2rem;
  margin-top: 5rem;
}

.rodape__contato-titulo{
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0;
  color: var(--cor-destaque);
}