.rodape__contato-form {
  display: flex;
  flex-direction: column;
}

.contato__nome {
  height: 3.5rem;
  margin: 10px 0;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.631);
  border-radius: 5px 5px 0 0;
}

.contato__mensagem {
  border-radius: 5px 5px 0 0;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.591);
  height: 5.1rem;
  margin: 10px 0;
  resize: none;
}

.contato__mensagem::placeholder {
  padding-top: 5px;
}